:root {
  --primary-color: #ffffff;
  --accent-color-iris: #4d5ae5;
  --accent-color-text: #2e2f42;
  --accent-color-description: #434455;
  --button-color-filters: #404bbf;
  --accent-color-filters: #e7e9fc;
  --accent-color-cloud: #f4f4fd;
  --green-new-color: #31d0aa;
  --grey-new-color: #8e8f99;
  --white-new-color: #fcfcfc;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --icon-background: #4d5ae5;
  --icons-color: #f4f4fd;
  --icons-color-hover: #404bbf;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  font-family: var(--font-family);
}

.header-container {
  width: 1200px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-container {
  width: 1440px;
  height: 600px;
  margin: 72px auto 0;
  position: relative;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.png);
  background-size: cover;
}

.description-container {
  width: 1200px;
  height: 104px;
  margin-top: 120px;
}

.pictures-container {
  width: 1200px;
  height: 412px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.id-container {
  width: 1200px;
  height: 732px;
  margin-bottom: 120px;
}

.last-container {
  width: 1200px;
  display: flex;
  height: 312px;
  margin: 0 auto;
}

body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  letter-spacing: 0.02em;
  margin: 0 auto;
  padding: 0;
}

.global-header {
  background-color: var(--primary-color);
  border-bottom: 1px solid #e7e9fc;
  position: fixed;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.global-header a {
  text-decoration: none;
}

.global-header ul {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.web {
  color: var(--accent-color-iris);
}

.studio {
  color: var(--accent-color-text);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 76px;
}

.main-nav ul {
  list-style: none;
}

.main-nav ul li {
  padding-left: 40px;
}

.main-nav a:hover {
  color: var(--button-color-filters);
}

.index,
.portfolio,
.contacts {
  letter-spacing: 0.02em;
  color: var(--accent-color-text);
  font-weight: 500;
  position: relative;
}

.index:hover::after,
.portfolio:hover::after,
.contacts:hover::after {
  content: "";
  position: absolute;
  width: calc(100% - 1px);
  height: 4px;
  background-color: var(--button-color-filters);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.address ul li a {
  color: var(--accent-color-description);
  font-weight: 400;
  letter-spacing: 0.02em;
}

.address a:hover {
  color: var(--button-color-filters);
}

.hero h1 {
  position: relative;
  z-index: 4;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.02em;
  padding-top: 188px;
}

.solutions {
  box-sizing: content-box;
  width: 496px;
  height: 120px;
  margin: auto;
}

.hero {
  text-align: center;
  color: var(--primary-color);
}

.hero button {
  position: relative;
  z-index: 2;
  background-color: var(--accent-color-iris);
  cursor: pointer;
  color: var(--primary-color);
  border: none;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  margin-top: 48px;
}

.button {
  position: relative;
  z-index: 2;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero button:hover {
  background-color: var(--button-color-filters);
}

.hero button:active {
  background-color: var(--accent-color-iris);
}

.one h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.one p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color-description);
}

.one {
  display: flex;
  justify-content: center;
  list-style: none;
}

.one ul {
  display: flex;
  gap: 50px;
  list-style: none;
}

.feature {
  list-style: none;
  justify-content: center;
  width: 100%;
}

.strategy,
.punctuality,
.diligence,
.tehnologies {
  box-sizing: content-box;
  width: 264px;
  height: 104px;
  margin-top: 8px;
}

.what-are {
  justify-content: center;
  margin-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
  line-height: 111%;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-text);
}

.about ul.images {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 59px;
}

.about {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.card ul.team-member {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 24px;
}

.card {
  background-color: var(--accent-color-cloud);
  display: flex;
  justify-content: center;
}

.our-team {
  justify-content: center;
  display: flex;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-text);
  text-transform: capitalize;
  padding-top: 120px;
}

.team {
  display: flex;
  justify-content: space-evenly;
  border-radius: 0px 0px 4px 4px;
  gap: 47px;
  padding-top: 72px;
  list-style: none;
}

.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-description);
  margin-top: 8px;
}

.card h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color-text);
  margin-top: 32px;
}

.team-member {
  width: 264px;
  height: 428px;
  border: 1px solid var(--accent-color-filters);
  padding: 0 0 32px 0;
  text-align: center;
  background-color: var(--primary-color);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.icons-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.icons-list .icon svg {
  width: 16px;
  height: 16px;
  fill: var(--accent-color-cloud);
}

.icons-list .icon {
  width: 40px;
  height: 40px;
  background-color: var(--accent-color-iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-color);
}

.icons-list .icon:hover,
.icons-list .icon:focus {
  background-color: var(--icons-color-hover);
}

footer {
  background-color: var(--accent-color-text);
}

footer a {
  text-decoration: none;
}

.increase {
  color: #f4f4fd;
  box-sizing: content-box;
  width: 264px;
  height: 72px;
  padding-top: 16px;
}

.web-footer {
  color: var(--accent-color-iris);
}

.studio-footer {
  color: var(--accent-color-cloud);
}

.logo-footer {
  box-sizing: content-box;
  width: 115px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--second-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-extras {
  box-sizing: border-box;
  width: 264px;
  height: 112px;
  padding-top: 100px;
}

.social-icons {
  box-sizing: border-box;
  width: 208px;
  height: 80;
  color: var(--accent-color-cloud);
  margin-top: 100px;
  margin-bottom: 132px;
  margin-left: 120px;
}

.social-icons ul {
  display: flex;
}

.social-media {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.footer-icons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-icons .social-links svg {
  width: 24px;
  height: 24px;
  fill: var(--accent-color-cloud);
}

.footer-icons .social-links {
  width: 40px;
  height: 40px;
  background-color: var(--accent-color-iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-color);
}

.footer-icons .social-links:hover,
.footer-icons .social-links:focus {
  background-color: var(--green-new-color);
}

/************************************************************************/
/**********************************************************************/
/***************************************************************************/
